.wrapper {
    display: flex;
    flex-wrap: nowrap;

    .card-box {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        width: 50%;
        margin: 20px;
    }

    .comments-box {
        width: 50%;
        margin: 20px;
        border: 4px solid white;
        border-radius: 10px;
    }
}